body {
    	background-image: url('http://media-cache-ec0.pinimg.com/originals/e6/bc/94/e6bc94ef3eecd378f39fee29b552bd19.jpg');
}
    


h1 {
    color:yellow;
    text-align: center;
    font-family: cursive;
   
        
}        

a {
    
    
    font-size: 40px;
    color:red;
    
    
}